USE [master]
GO
/****** Object:  Database [Driver_License]    Script Date: 24/11/2025 12:03:19 ******/
CREATE DATABASE [Driver_License]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Driver_License', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Driver_License.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Driver_License_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Driver_License_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Driver_License].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Driver_License]
GO
/****** Object:  Schema [AppDVL]    Script Date: 24/11/2025 12:03:19 ******/
CREATE SCHEMA [AppDVL]
GO
/****** Object:  Schema [People]    Script Date: 24/11/2025 12:03:19 ******/
CREATE SCHEMA [People]
GO
/****** Object:  Schema [Users]    Script Date: 24/11/2025 12:03:19 ******/
CREATE SCHEMA [Users]
GO
/****** Object:  Table [dbo].[People]    Script Date: 24/11/2025 12:03:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[People](
	[PersonID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[SecondName] [nvarchar](50) NULL,
	[ThirdName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[NationalNo] [nvarchar](50) NOT NULL,
	[Gender] [tinyint] NOT NULL,
	[Address] [nvarchar](100) NULL,
	[Email] [nvarchar](110) NULL,
	[Phone] [nvarchar](50) NOT NULL,
	[BirthDate] [date] NOT NULL,
	[ImagePersonel] [nvarchar](100) NULL,
	[NationalityID] [int] NOT NULL,
 CONSTRAINT [PK__Person__AA2FFB8541C3E600] PRIMARY KEY CLUSTERED 
(
	[PersonID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 24/11/2025 12:03:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](64) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[PersonID] [int] NOT NULL,
 CONSTRAINT [PK__Users__1788CCAC072F97FF] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[Users_View]    Script Date: 24/11/2025 12:03:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create View [dbo].[Users_View]
As
SELECT dbo.People.PersonID, dbo.People.FirstName+''+dbo.People.SecondName+''+ISNull(dbo.People.ThirdName,'')+''+ISNULL(dbo.People.LastName,'')As FullName, dbo.Users.UserID, dbo.Users.UserName, dbo.Users.PersonID AS Expr1
FROM   dbo.People INNER JOIN
             dbo.Users ON dbo.People.PersonID = dbo.Users.PersonID
GO
/****** Object:  Table [dbo].[DetainedLicenses]    Script Date: 24/11/2025 12:03:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetainedLicenses](
	[DetainedLicenseID] [int] IDENTITY(1,1) NOT NULL,
	[LicenseID] [int] NOT NULL,
	[DetainDate] [smalldatetime] NOT NULL,
	[FineFees] [smallmoney] NOT NULL,
	[IsReleased] [bit] NOT NULL,
	[ReleaseDate] [smalldatetime] NULL,
	[CreatedByUserID] [int] NOT NULL,
	[ReleaseByUserID] [int] NULL,
	[ReleaseApplicationID] [int] NULL,
 CONSTRAINT [PK__Detained__B5ABF2C87FC067F7] PRIMARY KEY CLUSTERED 
(
	[DetainedLicenseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Driver]    Script Date: 24/11/2025 12:03:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Driver](
	[DriverID] [int] IDENTITY(1,1) NOT NULL,
	[PersonID] [int] NOT NULL,
	[CreatedByUserID] [int] NOT NULL,
	[CreatedDate] [smalldatetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DriverID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[License]    Script Date: 24/11/2025 12:03:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[License](
	[LicenseID] [int] IDENTITY(1,1) NOT NULL,
	[ApplicationID] [int] NOT NULL,
	[DriverID] [int] NOT NULL,
	[LicenseClassID] [int] NOT NULL,
	[IssueDate] [datetime] NOT NULL,
	[ExpirationDate] [datetime] NOT NULL,
	[Notes] [nvarchar](100) NULL,
	[PaidFees] [smallmoney] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[IssueReason] [tinyint] NOT NULL,
	[CreatedByUserID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LicenseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[DetainLicense_View]    Script Date: 24/11/2025 12:03:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[DetainLicense_View]
AS
SELECT dbo.DetainedLicenses.DetainedLicenseID AS DetainID, dbo.DetainedLicenses.LicenseID, dbo.DetainedLicenses.DetainDate, dbo.DetainedLicenses.IsReleased, dbo.DetainedLicenses.FineFees, dbo.DetainedLicenses.ReleaseDate, dbo.People.NationalNo, 
             dbo.People.FirstName + ' ' + ISNULL(dbo.People.SecondName, '') + ' ' + ISNULL(dbo.People.ThirdName, '') + ' ' + dbo.People.LastName AS FullName, dbo.DetainedLicenses.ReleaseApplicationID
FROM   dbo.People INNER JOIN
             dbo.Driver ON dbo.People.PersonID = dbo.Driver.PersonID INNER JOIN
             dbo.License ON dbo.License.DriverID = dbo.Driver.DriverID RIGHT OUTER JOIN
             dbo.DetainedLicenses ON dbo.DetainedLicenses.LicenseID = dbo.License.LicenseID
GO
/****** Object:  Table [dbo].[Tests]    Script Date: 24/11/2025 12:03:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tests](
	[TestID] [int] IDENTITY(1,1) NOT NULL,
	[TestAppointmentID] [int] NOT NULL,
	[TestResult] [bit] NULL,
	[Notes] [nvarchar](50) NULL,
	[CreatedByUserID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[TestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ApplicationDVL]    Script Date: 24/11/2025 12:03:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApplicationDVL](
	[ApplicationID] [int] IDENTITY(1,1) NOT NULL,
	[ApplicantPersonID] [int] NOT NULL,
	[ApplicationDate] [datetime] NOT NULL,
	[ApplicationStatue] [tinyint] NOT NULL,
	[LastStatueApplicationDate] [datetime] NULL,
	[AppTypeID] [int] NOT NULL,
	[ApplicationFees] [smallmoney] NOT NULL,
	[CreatedByUserID] [int] NOT NULL,
 CONSTRAINT [PK__Aplicati__FC4B7C88DF1EC6BC] PRIMARY KEY CLUSTERED 
(
	[ApplicationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LocalDrivingLicenseApplications]    Script Date: 24/11/2025 12:03:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LocalDrivingLicenseApplications](
	[LocalDrivingLicenseApplicationID] [int] IDENTITY(1,1) NOT NULL,
	[ApplicationID] [int] NOT NULL,
	[LicenseClassID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LocalDrivingLicenseApplicationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LicenseClass]    Script Date: 24/11/2025 12:03:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LicenseClass](
	[LicenseClassID] [int] IDENTITY(1,1) NOT NULL,
	[ClassName] [nvarchar](50) NOT NULL,
	[Descriptions] [text] NULL,
	[MinimumAllwoedAge] [tinyint] NOT NULL,
	[ValidityLength] [tinyint] NOT NULL,
	[ClassFees] [smallmoney] NOT NULL,
 CONSTRAINT [PK__LicenseC__50F72335664FD80E] PRIMARY KEY CLUSTERED 
(
	[LicenseClassID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TestAppointments]    Script Date: 24/11/2025 12:03:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestAppointments](
	[TestAppointmentID] [int] IDENTITY(1,1) NOT NULL,
	[TestTypeID] [int] NOT NULL,
	[LocalDrivingLicenseApplicationID] [int] NOT NULL,
	[AppointmentDate] [smalldatetime] NOT NULL,
	[PaidFees] [smallmoney] NOT NULL,
	[CreatedByUserID] [int] NOT NULL,
	[IsLoked] [bit] NOT NULL,
	[RetakeTestApplicationID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[TestAppointmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[LocalDrivingLicenseApplicaton_View]    Script Date: 24/11/2025 12:03:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create View [dbo].[LocalDrivingLicenseApplicaton_View] AS
							SELECT dbo.LocalDrivingLicenseApplications.LocalDrivingLicenseApplicationID, dbo.LicenseClass.ClassName, dbo.People.NationalNo, dbo.People.FirstName + ' ' + ISNULL(dbo.People.SecondName,'') + ' ' + ISNULL(dbo.People.ThirdName, '') + ' ' + dbo.People.LastName AS FullName, 
             dbo.ApplicationDVL.ApplicationDate,
                 (SELECT COUNT(dbo.TestAppointments.TestTypeID) AS PassedTestCount
                 FROM    dbo.Tests INNER JOIN
                              dbo.TestAppointments ON dbo.Tests.TestAppointmentID = dbo.TestAppointments.TestAppointmentID
                 WHERE (dbo.TestAppointments.LocalDrivingLicenseApplicationID = dbo.LocalDrivingLicenseApplications.LocalDrivingLicenseApplicationID) AND (dbo.Tests.TestResult = 1)) AS PassedTestCount, 
             CASE WHEN ApplicationDVL.ApplicationStatue = 1 THEN 'New' WHEN ApplicationDVL.ApplicationStatue = 2 THEN 'Cancelled' WHEN ApplicationDVL.ApplicationStatue = 3 THEN 'Completed' END AS Status
FROM   dbo.LocalDrivingLicenseApplications INNER JOIN
             dbo.ApplicationDVL ON dbo.LocalDrivingLicenseApplications.ApplicationID = dbo.ApplicationDVL.ApplicationID INNER JOIN
             dbo.LicenseClass ON dbo.LocalDrivingLicenseApplications.LicenseClassID = dbo.LicenseClass.LicenseClassID INNER JOIN
             dbo.People ON dbo.ApplicationDVL.ApplicantPersonID = dbo.People.PersonID
GO
/****** Object:  Table [dbo].[TestTypes]    Script Date: 24/11/2025 12:03:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TestTypes](
	[TestTypeID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](100) NOT NULL,
	[Description] [text] NOT NULL,
	[Fees] [smallmoney] NOT NULL,
 CONSTRAINT [PK__TestType__4DB182227F2F38C5] PRIMARY KEY CLUSTERED 
(
	[TestTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[TestAppointments_View]    Script Date: 24/11/2025 12:03:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[TestAppointments_View]
AS
SELECT dbo.TestAppointments.TestAppointmentID, dbo.TestAppointments.LocalDrivingLicenseApplicationID, dbo.TestTypes.title, dbo.LicenseClass.ClassName, dbo.TestAppointments.AppointmentDate, dbo.TestAppointments.PaidFees, 
             dbo.People.FirstName + ' ' + ISNULL(dbo.People.SecondName, '') + ' ' + ISNULL(dbo.People.ThirdName, '') + ' ' + dbo.People.LastName AS FullName, dbo.TestAppointments.IsLoked
FROM   dbo.TestAppointments INNER JOIN
             dbo.TestTypes ON dbo.TestAppointments.TestTypeID = dbo.TestTypes.TestTypeID INNER JOIN
             dbo.LocalDrivingLicenseApplications ON dbo.TestAppointments.LocalDrivingLicenseApplicationID = dbo.LocalDrivingLicenseApplications.LocalDrivingLicenseApplicationID INNER JOIN
             dbo.ApplicationDVL ON dbo.LocalDrivingLicenseApplications.ApplicationID = dbo.ApplicationDVL.ApplicationID INNER JOIN
             dbo.People ON dbo.ApplicationDVL.ApplicantPersonID = dbo.People.PersonID INNER JOIN
             dbo.LicenseClass ON dbo.LocalDrivingLicenseApplications.LicenseClassID = dbo.LicenseClass.LicenseClassID
GO
/****** Object:  View [dbo].[Drivers_View]    Script Date: 24/11/2025 12:03:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[Drivers_View]
AS
SELECT dbo.Driver.DriverID, dbo.Driver.PersonID, dbo.People.NationalNo, dbo.People.FirstName + '' + ISNULL(dbo.People.SecondName, '') + '' + ISNULL(dbo.People.ThirdName, '') + '' + ISNULL(dbo.People.LastName, '') AS FullName, dbo.Driver.CreatedDate,
                 (SELECT COUNT(LicenseID) AS Expr1
                 FROM    dbo.License
                 WHERE (IsActive = 1) AND (DriverID = dbo.Driver.DriverID)) AS ActiveLicense
FROM   dbo.Driver INNER JOIN
             dbo.People ON dbo.Driver.PersonID = dbo.People.PersonID
GO
/****** Object:  Table [dbo].[ApplicationTypes]    Script Date: 24/11/2025 12:03:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ApplicationTypes](
	[AppTypeID] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](255) NOT NULL,
	[Fees] [smallmoney] NULL,
 CONSTRAINT [PK__Aplicati__8E2CF7D94D1D16F6] PRIMARY KEY CLUSTERED 
(
	[AppTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Countries]    Script Date: 24/11/2025 12:03:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Countries](
	[CountryID] [int] IDENTITY(1,1) NOT NULL,
	[CountryName] [nvarchar](50) NULL,
 CONSTRAINT [PK__National__F628E7A45F50CE13] PRIMARY KEY CLUSTERED 
(
	[CountryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[InternationaLicenses]    Script Date: 24/11/2025 12:03:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[InternationaLicenses](
	[InternationalLicenseID] [int] IDENTITY(1,1) NOT NULL,
	[ApplicationID] [int] NOT NULL,
	[DriverID] [int] NOT NULL,
	[IssuedUsedLocalLicenseID] [int] NOT NULL,
	[IssueDate] [smalldatetime] NOT NULL,
	[ExpirationDate] [smalldatetime] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedByUserID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[InternationalLicenseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ApplicationDVL]  WITH CHECK ADD  CONSTRAINT [FK_ApplicationDVL_ApplicationType] FOREIGN KEY([AppTypeID])
REFERENCES [dbo].[ApplicationTypes] ([AppTypeID])
GO
ALTER TABLE [dbo].[ApplicationDVL] CHECK CONSTRAINT [FK_ApplicationDVL_ApplicationType]
GO
ALTER TABLE [dbo].[ApplicationDVL]  WITH CHECK ADD  CONSTRAINT [FK_ApplicationDVL_Person] FOREIGN KEY([ApplicantPersonID])
REFERENCES [dbo].[People] ([PersonID])
GO
ALTER TABLE [dbo].[ApplicationDVL] CHECK CONSTRAINT [FK_ApplicationDVL_Person]
GO
ALTER TABLE [dbo].[ApplicationDVL]  WITH CHECK ADD  CONSTRAINT [FK_ApplicationDVL_User] FOREIGN KEY([CreatedByUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[ApplicationDVL] CHECK CONSTRAINT [FK_ApplicationDVL_User]
GO
ALTER TABLE [dbo].[DetainedLicenses]  WITH CHECK ADD  CONSTRAINT [FK__DetainedLicense__License] FOREIGN KEY([LicenseID])
REFERENCES [dbo].[License] ([LicenseID])
GO
ALTER TABLE [dbo].[DetainedLicenses] CHECK CONSTRAINT [FK__DetainedLicense__License]
GO
ALTER TABLE [dbo].[DetainedLicenses]  WITH CHECK ADD  CONSTRAINT [FK__DetainedLicense_Application] FOREIGN KEY([ReleaseApplicationID])
REFERENCES [dbo].[ApplicationDVL] ([ApplicationID])
GO
ALTER TABLE [dbo].[DetainedLicenses] CHECK CONSTRAINT [FK__DetainedLicense_Application]
GO
ALTER TABLE [dbo].[DetainedLicenses]  WITH CHECK ADD  CONSTRAINT [FK_DetainedLicenses_Users] FOREIGN KEY([CreatedByUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[DetainedLicenses] CHECK CONSTRAINT [FK_DetainedLicenses_Users]
GO
ALTER TABLE [dbo].[DetainedLicenses]  WITH CHECK ADD  CONSTRAINT [FK_DetainedLicenses_Users1] FOREIGN KEY([ReleaseByUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[DetainedLicenses] CHECK CONSTRAINT [FK_DetainedLicenses_Users1]
GO
ALTER TABLE [dbo].[Driver]  WITH CHECK ADD  CONSTRAINT [FK__Driver__Person] FOREIGN KEY([PersonID])
REFERENCES [dbo].[People] ([PersonID])
GO
ALTER TABLE [dbo].[Driver] CHECK CONSTRAINT [FK__Driver__Person]
GO
ALTER TABLE [dbo].[Driver]  WITH CHECK ADD  CONSTRAINT [FK__Driver__Uses] FOREIGN KEY([CreatedByUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Driver] CHECK CONSTRAINT [FK__Driver__Uses]
GO
ALTER TABLE [dbo].[InternationaLicenses]  WITH CHECK ADD  CONSTRAINT [FK__InternationalLicens_Users] FOREIGN KEY([CreatedByUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[InternationaLicenses] CHECK CONSTRAINT [FK__InternationalLicens_Users]
GO
ALTER TABLE [dbo].[InternationaLicenses]  WITH CHECK ADD  CONSTRAINT [FK__InternationalLicense__Driver] FOREIGN KEY([DriverID])
REFERENCES [dbo].[Driver] ([DriverID])
GO
ALTER TABLE [dbo].[InternationaLicenses] CHECK CONSTRAINT [FK__InternationalLicense__Driver]
GO
ALTER TABLE [dbo].[InternationaLicenses]  WITH CHECK ADD  CONSTRAINT [FK__InternationalLicense_Application] FOREIGN KEY([ApplicationID])
REFERENCES [dbo].[ApplicationDVL] ([ApplicationID])
GO
ALTER TABLE [dbo].[InternationaLicenses] CHECK CONSTRAINT [FK__InternationalLicense_Application]
GO
ALTER TABLE [dbo].[InternationaLicenses]  WITH CHECK ADD  CONSTRAINT [FK__InternationLicens_LocalLicense] FOREIGN KEY([IssuedUsedLocalLicenseID])
REFERENCES [dbo].[License] ([LicenseID])
GO
ALTER TABLE [dbo].[InternationaLicenses] CHECK CONSTRAINT [FK__InternationLicens_LocalLicense]
GO
ALTER TABLE [dbo].[License]  WITH CHECK ADD  CONSTRAINT [FK_License_Application] FOREIGN KEY([ApplicationID])
REFERENCES [dbo].[ApplicationDVL] ([ApplicationID])
GO
ALTER TABLE [dbo].[License] CHECK CONSTRAINT [FK_License_Application]
GO
ALTER TABLE [dbo].[License]  WITH CHECK ADD  CONSTRAINT [FK_License_Driver] FOREIGN KEY([DriverID])
REFERENCES [dbo].[Driver] ([DriverID])
GO
ALTER TABLE [dbo].[License] CHECK CONSTRAINT [FK_License_Driver]
GO
ALTER TABLE [dbo].[License]  WITH CHECK ADD  CONSTRAINT [FK_License_LicenseClass] FOREIGN KEY([LicenseClassID])
REFERENCES [dbo].[LicenseClass] ([LicenseClassID])
GO
ALTER TABLE [dbo].[License] CHECK CONSTRAINT [FK_License_LicenseClass]
GO
ALTER TABLE [dbo].[License]  WITH CHECK ADD  CONSTRAINT [FK_License_Users] FOREIGN KEY([CreatedByUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[License] CHECK CONSTRAINT [FK_License_Users]
GO
ALTER TABLE [dbo].[LocalDrivingLicenseApplications]  WITH CHECK ADD  CONSTRAINT [FK_LocalDrivingLicenseApplications_Applications] FOREIGN KEY([ApplicationID])
REFERENCES [dbo].[ApplicationDVL] ([ApplicationID])
GO
ALTER TABLE [dbo].[LocalDrivingLicenseApplications] CHECK CONSTRAINT [FK_LocalDrivingLicenseApplications_Applications]
GO
ALTER TABLE [dbo].[LocalDrivingLicenseApplications]  WITH CHECK ADD  CONSTRAINT [FK_LocalDrivingLicenseApplications_LicenseClass1] FOREIGN KEY([LicenseClassID])
REFERENCES [dbo].[LicenseClass] ([LicenseClassID])
GO
ALTER TABLE [dbo].[LocalDrivingLicenseApplications] CHECK CONSTRAINT [FK_LocalDrivingLicenseApplications_LicenseClass1]
GO
ALTER TABLE [dbo].[People]  WITH CHECK ADD  CONSTRAINT [FK_Person_Country] FOREIGN KEY([NationalityID])
REFERENCES [dbo].[Countries] ([CountryID])
GO
ALTER TABLE [dbo].[People] CHECK CONSTRAINT [FK_Person_Country]
GO
ALTER TABLE [dbo].[TestAppointments]  WITH CHECK ADD  CONSTRAINT [FK_TestAppointments_ApplicationDVL] FOREIGN KEY([RetakeTestApplicationID])
REFERENCES [dbo].[ApplicationDVL] ([ApplicationID])
GO
ALTER TABLE [dbo].[TestAppointments] CHECK CONSTRAINT [FK_TestAppointments_ApplicationDVL]
GO
ALTER TABLE [dbo].[TestAppointments]  WITH CHECK ADD  CONSTRAINT [FK_TestAppointments_LocalDrivingLicenseApplications] FOREIGN KEY([LocalDrivingLicenseApplicationID])
REFERENCES [dbo].[LocalDrivingLicenseApplications] ([LocalDrivingLicenseApplicationID])
GO
ALTER TABLE [dbo].[TestAppointments] CHECK CONSTRAINT [FK_TestAppointments_LocalDrivingLicenseApplications]
GO
ALTER TABLE [dbo].[TestAppointments]  WITH CHECK ADD  CONSTRAINT [FK_TestAppointments_TestTypes] FOREIGN KEY([TestTypeID])
REFERENCES [dbo].[TestTypes] ([TestTypeID])
GO
ALTER TABLE [dbo].[TestAppointments] CHECK CONSTRAINT [FK_TestAppointments_TestTypes]
GO
ALTER TABLE [dbo].[TestAppointments]  WITH CHECK ADD  CONSTRAINT [FK_TestAppointments_Users] FOREIGN KEY([CreatedByUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[TestAppointments] CHECK CONSTRAINT [FK_TestAppointments_Users]
GO
ALTER TABLE [dbo].[Tests]  WITH CHECK ADD  CONSTRAINT [FK_Tests_TestAppointments] FOREIGN KEY([TestAppointmentID])
REFERENCES [dbo].[TestAppointments] ([TestAppointmentID])
GO
ALTER TABLE [dbo].[Tests] CHECK CONSTRAINT [FK_Tests_TestAppointments]
GO
ALTER TABLE [dbo].[Tests]  WITH CHECK ADD  CONSTRAINT [FK_Tests_Users] FOREIGN KEY([CreatedByUserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Tests] CHECK CONSTRAINT [FK_Tests_Users]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Person] FOREIGN KEY([PersonID])
REFERENCES [dbo].[People] ([PersonID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Person]
GO
/****** Object:  StoredProcedure [AppDVL].[SP_AddApplication_DVLD]    Script Date: 24/11/2025 12:03:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [AppDVL].[SP_AddApplication_DVLD]
          @ApplicantPersonID Int,
          @ApplicationDate DateTime,
          @AppTypeID int,
          @ApplicationStatus tinyint, 
          @LastStatusDate DateTime,
          @PaidFees smallmoney,
          @CreatedByUserID int,
		  @NewAppID INT Output
As
Begin
    
	   INSERT INTO ApplicationDVL(ApplicantPersonID,ApplicationDate,AppTypeID,ApplicationStatue,
	                               LastStatueApplicationDate,ApplicationFees,CreatedByUserID)
                     VALUES(@ApplicantPersonID,@ApplicationDate,@AppTypeID, @ApplicationStatus,@LastStatusDate,
                            @PaidFees,@CreatedByUserID);
       
	  Set @NewAppID = SCOPE_IDENTITY();
End;
GO
/****** Object:  StoredProcedure [People].[SP_AddNewPerson_DVLD]    Script Date: 24/11/2025 12:03:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [People].[SP_AddNewPerson_DVLD]
    
       @FirstName varchar(50),
       @SecondName varchar(50),
       @ThirdName varchar(50),
       @LastName varchar(50),
       @NationalNo varchar(50),
       @Gender tinyint,
       @Email varchar(100),
       @Address varchar(100),
       @Phone varchar(50),
       @BirthDate date,
       @NationalityID int,
       @ImagePersonel varchar(100),
	   @NewPersonID int Output
As
Begin
    
	 INSERT INTO People(FirstName,SecondName,ThirdName,LastName,NationalNo,Gender,Email,Address,Phone,BirthDate,ImagePersonel,NationalityID)
                 VALUES(@FirstName,@SecondName,@ThirdName,@LastName,@NationalNo,@Gender,@Email,@Address,@Phone,@BirthDate,@ImagePersonel,@NationalityID)
                 
	 Set @NewPersonID = SCOPE_IDENTITY();
End;
GO
/****** Object:  StoredProcedure [People].[SP_CheckPersonExists_DVLD]    Script Date: 24/11/2025 12:03:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [People].[SP_CheckPersonExists_DVLD]
       @PersonID INT
As
Begin
     IF Exists(Select * From People where PersonID = @PersonID)
	     Return 1;
	 Else
	     Return 0;
End;
GO
/****** Object:  StoredProcedure [People].[SP_DeletPerson_DVLD]    Script Date: 24/11/2025 12:03:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [People].[SP_DeletPerson_DVLD]
       @PersonID INT
As
Begin
     Delete From People where PersonID = @PersonID;
End;
GO
/****** Object:  StoredProcedure [People].[SP_GetAllPerson_DVLD]    Script Date: 24/11/2025 12:03:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [People].[SP_GetAllPerson_DVLD]
As
Begin
   SELECT P.PersonID, P.NationalNo,
              P.FirstName, P.SecondName, P.ThirdName, P.LastName,
              P.BirthDate, P.Gender,  
                  CASE
                  WHEN P.Gender = 0 THEN 'Male'
                  ELSE 'Female'
                  END as Gendercaption,
              P.Address, P.Phone, P.Email, 
              P.NationalityID, C.CountryName, P.ImagePersonel
              FROM  People P INNER JOIN
                         Countries C ON P.NationalityID =  C.CountryID;
End;
GO
/****** Object:  StoredProcedure [People].[SP_GetPersonByID_DVLD]    Script Date: 24/11/2025 12:03:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [People].[SP_GetPersonByID_DVLD]
        @PersonID INT
As
Begin
      Select * From People where PersonID = @PersonID;
End;
GO
/****** Object:  StoredProcedure [People].[SP_UpdatePerson_DVLD]    Script Date: 24/11/2025 12:03:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [People].[SP_UpdatePerson_DVLD]
       @PersonID INT,
       @FirstName varchar(50),
       @SecondName varchar(50),
       @ThirdName varchar(50),
       @LastName varchar(50),
       @NationalNo varchar(50),
       @Gender tinyint,
       @Email varchar(100),
       @Address varchar(100),
       @Phone varchar(50),
       @BirthDate date,
       @NationalityID int,
       @ImagePersonel varchar(100)
As
Begin 
      Update People
	  SET FirstName = @FirstName,SecondName = @SecondName,ThirdName = @ThirdName,LastName = @LastName,
	      NationalNo =@NationalNo,Gender = @Gender,Email= @Email,Address = @Address,Phone = @Phone,
		  BirthDate = @BirthDate,ImagePersonel = @ImagePersonel,NationalityID = @NationalityID
		  where PersonID = @PersonID;
End	   
GO
/****** Object:  StoredProcedure [Users].[SP_AddNewUser_DVLD]    Script Date: 24/11/2025 12:03:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create Procedure [Users].[SP_AddNewUser_DVLD]
                  @UserName varchar(50),
                  @Passwords varchar(64),
                  @IsActive bit,
                  @PersonID int,
				  @NewUserID INT Output
As
Begin
       INSERT INTO Users(UserName,Password,IsActive,PersonID)
                      VALUES(@UserName,@Passwords,@IsActive,@PersonID)
       
	   Set @NewUserID = SCOPE_IDENTITY();
End;
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1-New, 2-Cancelled, 3-Completed' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'ApplicationDVL', @level2type=N'COLUMN',@level2name=N'ApplicationStatue'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'1-FirstTime, 2-Renew, 3-Replacement for Damaged, 4-Replacement for Lost ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'License', @level2type=N'COLUMN',@level2name=N'IssueReason'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Driver"
            Begin Extent = 
               Top = 99
               Left = 57
               Bottom = 296
               Right = 294
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "License"
            Begin Extent = 
               Top = 297
               Left = 57
               Bottom = 494
               Right = 294
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "DetainedLicenses"
            Begin Extent = 
               Top = 495
               Left = 57
               Bottom = 692
               Right = 328
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "People"
            Begin Extent = 
               Top = 9
               Left = 351
               Bottom = 206
               Right = 573
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'DetainLicense_View'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'DetainLicense_View'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "Driver"
            Begin Extent = 
               Top = 9
               Left = 57
               Bottom = 206
               Right = 294
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "People"
            Begin Extent = 
               Top = 9
               Left = 351
               Bottom = 206
               Right = 573
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths = 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Drivers_View'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=1 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'Drivers_View'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane1', @value=N'[0E232FF0-B466-11cf-A24F-00AA00A3EFFF, 1.00]
Begin DesignProperties = 
   Begin PaneConfigurations = 
      Begin PaneConfiguration = 0
         NumPanes = 4
         Configuration = "(H (1[40] 4[20] 2[20] 3) )"
      End
      Begin PaneConfiguration = 1
         NumPanes = 3
         Configuration = "(H (1 [50] 4 [25] 3))"
      End
      Begin PaneConfiguration = 2
         NumPanes = 3
         Configuration = "(H (1 [50] 2 [25] 3))"
      End
      Begin PaneConfiguration = 3
         NumPanes = 3
         Configuration = "(H (4 [30] 2 [40] 3))"
      End
      Begin PaneConfiguration = 4
         NumPanes = 2
         Configuration = "(H (1 [56] 3))"
      End
      Begin PaneConfiguration = 5
         NumPanes = 2
         Configuration = "(H (2 [66] 3))"
      End
      Begin PaneConfiguration = 6
         NumPanes = 2
         Configuration = "(H (4 [50] 3))"
      End
      Begin PaneConfiguration = 7
         NumPanes = 1
         Configuration = "(V (3))"
      End
      Begin PaneConfiguration = 8
         NumPanes = 3
         Configuration = "(H (1[56] 4[18] 2) )"
      End
      Begin PaneConfiguration = 9
         NumPanes = 2
         Configuration = "(H (1 [75] 4))"
      End
      Begin PaneConfiguration = 10
         NumPanes = 2
         Configuration = "(H (1[66] 2) )"
      End
      Begin PaneConfiguration = 11
         NumPanes = 2
         Configuration = "(H (4 [60] 2))"
      End
      Begin PaneConfiguration = 12
         NumPanes = 1
         Configuration = "(H (1) )"
      End
      Begin PaneConfiguration = 13
         NumPanes = 1
         Configuration = "(V (4))"
      End
      Begin PaneConfiguration = 14
         NumPanes = 1
         Configuration = "(V (2))"
      End
      ActivePaneConfig = 0
   End
   Begin DiagramPane = 
      Begin Origin = 
         Top = 0
         Left = 0
      End
      Begin Tables = 
         Begin Table = "TestAppointments"
            Begin Extent = 
               Top = 9
               Left = 57
               Bottom = 206
               Right = 422
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "TestTypes"
            Begin Extent = 
               Top = 207
               Left = 57
               Bottom = 404
               Right = 279
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "LocalDrivingLicenseApplications"
            Begin Extent = 
               Top = 405
               Left = 57
               Bottom = 575
               Right = 422
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "ApplicationDVL"
            Begin Extent = 
               Top = 576
               Left = 57
               Bottom = 773
               Right = 369
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "LicenseClass"
            Begin Extent = 
               Top = 864
               Left = 57
               Bottom = 1061
               Right = 333
            End
            DisplayFlags = 280
            TopColumn = 0
         End
         Begin Table = "People"
            Begin Extent = 
               Top = 9
               Left = 479
               Bottom = 206
               Right = 701
            End
            DisplayFlags = 280
            TopColumn = 0
         End
      End
   End
   Begin SQLPane = 
   End
   Begin DataPane = 
      Begin ParameterDefaults = ""
      End
   End
   Begin CriteriaPane = 
      Begin ColumnWidths ' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'TestAppointments_View'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPane2', @value=N'= 11
         Column = 1440
         Alias = 900
         Table = 1170
         Output = 720
         Append = 1400
         NewValue = 1170
         SortType = 1350
         SortOrder = 1410
         GroupBy = 1350
         Filter = 1350
         Or = 1350
         Or = 1350
         Or = 1350
      End
   End
End
' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'TestAppointments_View'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_DiagramPaneCount', @value=2 , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'VIEW',@level1name=N'TestAppointments_View'
GO
USE [master]
GO
